body {
    margin: 0px;
    font-family: 'Segoe UI';
    background-color: #0f0f0f;
    color: #fff;
}
/* Text Elements */
h1 {
    text-align: center;
    font-size: 5vh;
}
p {
    font-size: 2vh;
}
a {
    color: rgb(148, 89, 182);

}
button{
    height: 5vh;
    font-size: 2vh;
    padding: 1vh 1vh;
    background-color: rgb(7, 7, 7);
    color: #fff;
    border-style: groove;
}
/* Navigation */
#navbar{
    overflow: auto;
    background-color: rgb(3, 3, 3);
    overflow:hidden;
    height: 5vh;
}
    /*Navbar Content*/
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: rgb(32, 32, 32);
        height: 5vh;
        font-size: 2vh;
      }
      
      li {
        float: left;
        padding: 1vh;
        height:5vh;
      }
    
      li a{
        padding: 1vh 1vh;
        color: rgb(228, 228, 228);
      }
      
      
      li a:hover:not(.current) {
        background-color: rgb(27, 27, 27);
      }
      
      .current {
        background-color: #363636;
      }
/* Containers */
#container{
    margin: 2vh auto 0vh auto;
    width: 70%;
    background-color: rgb(77, 75, 75);
}
#infoBox {
    padding-left: 5vh;
}
#profilePicture {
    width: 30vh;
    float: left;
}
#information {
    font-size: 5vh;
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
}
/*Footer*/
#gap {
    height:15vh;
}
#footer {
    background-color: rgb(54, 54, 54);
    height: 20vh;
    padding: 2vh;
    text-align: center;
}

