body {
    margin: 0px;
    font-family: 'Segoe UI';
    background-color: #ffffff;
}
/* Text Elements */
h1 {
    text-align: center;
    font-size: 5vh;
}
p {
    font-size: 2vh;
}
a {
    color: rgb(219, 235, 234);

}
button{
    height: 5vh;
    font-size: 2vh;
    padding: 1vh 1vh;
    background-color: rgb(204, 204, 204);
    border-style: groove;
}
/* Navigation */
#navbar{
    overflow: auto;
    background-color: rgb(226, 226, 226);
    overflow:hidden;
    height: 5vh;
}
    /*Navbar Content*/
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: rgb(194, 194, 194);
        height: 6vh;
        font-size: 2vh;
      }
      
      li {
        float: left;
        padding: 1vh;
        height:6vh;
      }
    
      li a{
        padding: 1vh 1vh;
        color: #111;
      }
      
      
      li a:hover:not(.current) {
        background-color: rgb(218, 218, 218);
      }
      
      .current {
        background-color: #a5a5a5;
      }
/* Containers */
#container{
    margin: 2vh auto 0vh auto;
    width: 70%;
    background-color: rgb(209, 209, 209);
}
#infoBox {
    padding-left: 5vh;
}
#profilePicture {
    width: 30vh;
    float: left;
}
#information {
    font-size: 5vh;
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
}
/*Footer*/
#gap {
    height:15vh;
}
#footer {
    background-color: rgb(146, 146, 146);
    height: 20vh;
    padding: 2vh;
    text-align: center;
}

